
.header{
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
    padding: 10px;
}
.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
    color: rgb(143, 203, 217);
}