* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(133deg, rgba(46, 69, 89), rgba(255, 0, 0, 0)),
      linear-gradient(120deg, rgba(20, 78, 115), rgba(0, 255, 0, 0))
}